body {
    background-color: lightgray;
    font: 14px/1.5 sans-serif;

}
label.required:before {
    content: '*';
    padding-right: 2px;
    color:darkred;
    font-weight: 700; 
}

.hide {
    display: none;
}